<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WatchFolder" value="C:\Images\Input" />
		<add key="OutputFolder" value="C:\Images\Output" />
		<add key="ImageWidth" value="62" />
		<add key="ImageHeight" value="62" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>